@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<form method="POST" action="Travel">
    <div class="form-group">
        
        <input type="hidden" class="form-control" name="Id" >
   
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Booked</label>
        <input type="text" class="form-control" name="Booked"  >
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Category</label>
        <input type="Text"  class="form-control"  name="Category">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Passanger_name</label>
        <input type="Text" class="form-control"name="PassangerName" >
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Route</label>
            <input type="text" class="form-control" name="Route" >
    </div>
   
    <button type="submit" class="btn btn-primary">Submit</button>
</form>